$fontFamily: Calibri, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fontColor: #333;
$blueColor: #1976d2;
$lightBlueColor: #E7F1FF;
$whiteColor: white;
$greyColor: grey;